<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for accessing internet and reading external storage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Layouts"
        tools:targetApi="31">

        <!-- Other activities in the application -->
        <activity android:name=".navFeed" android:exported="false" />
        <activity android:name=".navHelp" android:exported="false" />
        <activity android:name=".navProfile" android:exported="false" />
        <activity android:name=".navAboutus" android:exported="false" />
        <activity android:name=".navRate" android:exported="false" />

        <activity android:name=".OrderConfirmedActivity" />
        <activity android:name=".ChooseLocationActivity" android:exported="true" />
        <activity android:name=".SigninActivity" android:exported="false" />
        <activity android:name=".loginActivity" android:exported="false" />
        <activity android:name=".StartActivity" android:exported="false" />

        <!-- MainActivity set as the launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



    </application>

</manifest>


